.editable-cell {
    position: relative;
}
  
.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}
  
.ant-table-cell-row-hover .editable-cell-value-wrap {
    padding: 4.5px 11.5px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
