.invoicePrintTable {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;

    th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-weight: normal;
    }
    th {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    td {
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
    }
}